img{
    border-radius: 50%;
    width: 5% ;
    height: 10%;
}
.navbar-brand{
    margin-left: 50px;
}
#navbarSupportedContent{
    margin-left: 20px;
}
footer{

}
.inside{
    width: 60px;
    height: 60px;
}